
.navbar {
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;   
    background-color: black;
    color: seashell;
    padding: 10px 20px;        
  }  
  .menu {
    backface-visibility: hidden;
  }
  .menu {
    transform: perspective(300px) rotateX(180deg);
  }
  .navbar-logo {
    font-size: 2rem;
  }  
  #uno {    
    list-style: none;
    display: flex;
    gap: 20px;
  }  
  #uno a {
    text-decoration: none;
    font-size: 2rem;
    color: var(--color-back-image);
  }  
  #uno a:hover {
    text-decoration: underline;
    color: rgb(241, 238, 255);
    text-shadow: 0 0 0.5em rgb(255, 0, 179), 0 0 0.3em #ee991a;
  }
 
  @media screen and (max-width: 600px) {  
    .menu {
      font-size: 1rem;
      transform: perspective(300px) rotateX(360deg);
      color: seashell;
    }  
    .navbar-logo {
      font-size: 1rem;
    }       
    .navbar-links {
      margin-right: 0;
      width: 50px;
      height: 25px;         
      border: solid 1px rgba(255, 228, 181, 0.308);        
    }
    #uno a {
      font-size: 0.6rem;
      color: black; 
    }

    #uno {
      backface-visibility: hidden;
     }  
    #uno {    
      display: flex;
      flex-direction: column; 
      gap: 2px;
      transform: perspective(300px) rotateY(180deg);
    }
    .navbar-links:hover #uno {
      transform: perspective(300px) rotateY(360deg);
      border: solid 1px rgba(255, 228, 181, 0.308);        
      box-shadow: 0px 0px 50px 10px rgba(255, 228, 181, 0.507);
      background-color: rgb(240, 248, 255);
    }  
  }
  