.About {
    cursor: pointer;
    display: flex;
    justify-content: center;
    color:seashell;
    height: 100vh;
    font-size: 1.5rem;
    background-color: black;
}
.soy {
    width: 100%;
    text-align: justify;    
    padding: 20px;
}
.soy1:hover {
    text-shadow: 0 0 0.5em rgb(8, 233, 8), 0 0 0.5em #ee991a;
}

@media screen and (max-width: 600px) {
    .soy {        
        text-align: justify;
        font-size: 1rem;  
    }
}