*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}
:root {
    /****home y Proyectos****/
    --color-back-project: black;
    --color-title-home: rgba(135, 206, 250, 0.24);
    --color-border-card-project: lightslategrey;
    --color-card-text-project: lightslategrey;
    --color-back-card-project: rgba(100, 148, 237, 0.452);
    --color-title-card-project:royalblue;
    --color-parrafo-card-project: rgb(181, 187, 194);
    --color-text-cv: seashell;
    --color-back-image: rgba(255, 255, 255, 0.623);
    --color-icon-linkedin: hsla(226, 92%, 53%, 0.781);
    --color-icon-instagram: linear-gradient(90deg, 
    rgb(255, 200, 69) -0.3%,
     rgb(239, 69, 115) 50.2%);
    --color-icon-facebook: rgba(7, 82, 243, 0.747);
    /****about****/
    --color-about-title:#87CEFA3D;
    --color-about-title-text: #485785;
    --color-ab:rgba(0, 0, 0, 0.664);
    --color-ab-text: rgba(82, 255, 47, 0.671);
    --color-shadow: 0 0px 10px 0 rgba(82, 255, 47, 0.801);
}
.navbar {
    cursor: pointer;
}
/****TODO HOME****/
h1 {
    margin-bottom: 0;
}
.title1{
    text-align: center;
    margin-bottom: 0;
    background-color: var(--color-title-home);
}
.home{
    background-color: var(--color-back-project);
    display:grid;    
    grid-template-rows: 1fr, 1fr;
    grid-template-columns: 300px, 700px;    
}
.name.card {
    width: 100%;
    color: var(--color-text-cv);
    background-color: var(--color-back-card-project);   
    grid-row: 1/1;
    grid-column: 1/1;
    border-radius: 0; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card-img-top.nilo,
.card-img-top.picture {
    width: 350px;
    height: 300px;
    background-color: var(--color-back-image);
}
.soy.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:start;
    text-align: center;
    gap: 15px;       
}
.card-title.h5 {
    font-size: 2rem;
    margin-bottom: 0px;
}
.card-text {
    font-size: 1.6rem;
    color: var(--color-card-text-project);
}
.list-group-flush.list-group {
    width: 100%;
    padding: 10px;
    grid-row: 2/2;
    grid-column: 1/1;
    color: var(--color-card-text-project);
    background-color: var(--color-back-card-project);
}    
.list-group-item.linkedin {
    display: flex;
    justify-content: space-between;
    color: var(--color-text-cv);
}
.linkedin {
    font-size: 1.6rem;
}
.linkedin svg {    
    font-size: 2rem; 
    color: var(--color-icon-linkedin);
    background: var(--color-text-cv);
}
.instagram.list-group-item {
    display: flex;
    justify-content: space-between;
    color: var(--color-text-cv);
}
.instagram {
    margin-left: 70px;
    font-size: 1.6rem;
}
.instagram svg {    
    font-size: 2rem;
    padding: 2px;
    background: var(--color-icon-instagram);
}
.list-group-item.facebook {
    display: flex;
    justify-content: space-between;
    color: var(--color-text-cv);
}
.facebook {
    margin-left: 155px;
    font-size: 1.6rem;    
}
.facebook svg {    
    font-size: 2rem;
    padding: 2px;
    color: var(--color-icon-facebook);
    background: var(--color-text-cv);
}
.cont.card-body {
    font-size: 2rem;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.desc {    
    padding: 20px; 
}
.date {
    padding: 10px;
}
#file-override-custom.container { 
    width: 100%;
    display: flex;
    flex-direction: column;   
    grid-row: span 2;
    grid-column: 2/2;
    padding-left: 0px;
    padding-right: 0px;
    background-color: var(--color-back-card-project);    
}
.title_home {
    font-size: 2.5rem;  
    grid-row: 1/1;
    grid-column: span 2;
    text-align: center;
    color: var(--color-text-cv);
}
.title.card-title.h5 {  
    font-size: 2rem;  
    color: var(--color-title-card-project);    
    grid-column: span 2;    
}
.tot1.card-body,
.tot2.card-body,
.tot3.card-body {
    display: grid;
    grid-template-rows: 1fr, 1fr;
    grid-template-columns: 2fr, 1fr;    
    padding: 10px;
    border: 1px solid var(--color-border-card-project);
    color: var(--color-card-text-project);    
}
.parrafo-t1.card-text,
.parrafo-t2.card-text,
.parrafo-t3.card-text {    
    font-size: 1.5rem;
    text-align: justify;
    color: var(--color-parrafo-card-project);    
}
.tarjet1 { 
    display: flex;
    flex-direction: column;
    margin-left: 15px;   
    text-align: center;
    align-items: center;   
}
.card-img-top.foto1 {
    width: 200px;
    height: 120px;
}
.boton1.btn.btn-primary {      
    margin-top: 20px;
    font-size: 1.2rem;
    width: 150px;
}

/******TODO A CERCA DE MI******/
.title_a {   
    text-align: center;
    width: 100%;
    margin-bottom: 0;
    color: var(--color-about-title-text); 
    background-color: var(--color-about-title);   
}
.About1 {
    background-image: url('/public/Galaxia.jpg');
    background-repeat : no-repeat;
    background-size: cover;
    height: 100vh;
}
.ab1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);     
    font-size: 1.3rem;
    grid-gap: 20px;    
    padding: 6% 30px;
}
.ab1_1{    
    height: auto;
    padding: 10px;
    margin: auto;
    color: var(--color-ab-text);
    background-color:var(--color-ab);
    box-shadow: var(--color-shadow);
    text-align: justify;
    grid-row: 1 / 1;
    grid-column: 1 / 2;
}
.ab1_2 {
    height: auto;
    padding: 10px;
    margin: auto;
    color: var(--color-ab-text);
    background-color:var(--color-ab);
    box-shadow: var(--color-shadow);
    text-align: justify;
    grid-row: 1 /2;
    grid-column: 2 / 2;
    align-content: center;
}
.ab1_3 {
    height: auto;
    padding: 10px;
    margin: auto;
    color: var(--color-ab-text);
    background-color:var(--color-ab);
    box-shadow: var(--color-shadow);
    text-align: justify;
    grid-row: 1 / 2;
    grid-column: 3 / 3;
    
}
.ab1_4 {
    height: auto;
    padding: 10px;
    margin: auto;
    color: var(--color-ab-text);
    background-color:var(--color-ab);
    box-shadow: var(--color-shadow);
    text-align: justify;
    grid-row: 2 / 2;
    grid-column: 3 / 3;    
}
.ab1_5 {
    height: auto;
    padding: 10px;
    margin: auto;
    color: var(--color-ab-text);
    background-color:var(--color-ab);
    box-shadow: var(--color-shadow);
    text-align: justify;
    grid-row: 2 / 2;
    grid-column: 1 / 1;    
}
.ab1_6 {
    height: auto;
    padding: 10px;
    margin: auto;
    color: var(--color-ab-text);
    background-color:var(--color-ab);
    box-shadow: var(--color-shadow);
    text-align: justify;
    grid-row: 2 / 2;
    grid-column: 2 / 2;    
}

/*****TODOS LOS PROYECTOS*****/
.proyectos {
    margin-bottom: 0;
    text-align: center;
    background-color: var(--color-title-home);
}
.projects.card {
    display: flex;
    flex-direction: column;
    background-color: var(--color-back-project);
    height: 100%;
}
.tot.card-body {
    width: 100%;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: grid;  
    grid-template-rows: 1fr, 1fr;
    grid-template-columns: 2fr, 1fr; 
    border: 1px solid var(--color-border-card-project);
    color: var(--color-card-text-project);
    background-color: var(--color-back-card-project);
    margin-bottom: 10px;   
    grid-gap: 20px;   
}
.title-t.card-title.h5 {    
    color: var(--color-title-card-project);
    font-size: 2.3rem;
    grid-row: 1 / 1;
    grid-column: span 2;
    margin-top: auto;
    margin-bottom: auto;
}
.parrafo-t.card-text { 
    width: 100%;
    font-size: 2rem;
    text-align: justify;
    color: var(--color-parrafo-card-project);
    grid-row: 2 / 2;
    grid-column: 1 / 1;
}
.tarjet {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-row: 2 / 2;
    grid-column: 2 / 2;
    padding: 10px;    
}
img.foto {
    width: 220px;
    height: 150px;
    grid-row: 2 / 2;
    grid-column: 2 / 2;
}
.boton.btn.btn-primary {  
    width: 150px;    
    margin-top: 20px;
    font-size: 1.3rem;
}

@media screen and (min-width: 200px) {
    .home{
        display: flex;
        flex-direction: column;
    }
    .card-img-top.nilo,
    .card-img-top.picture {
        width: min(100%, 150px);
        height: 100px;
    }
    .card-title.h5 {
        font-size: 0.7rem;
    }
    .card-text {
        font-size: 0.6rem;
    }
    .list-group-flush.list-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .list-group-item.linkedin {
        font-size: 0.5rem;
    }
    .linkedin {
        margin: 0;
    }
    .linkedin svg {    
        font-size: 0.6rem; 
    }
    .instagram.list-group-item {
        font-size: 0.5rem; 
    }
    .instagram {
        margin: 0;
    }
    .instagram svg {    
        font-size: 0.6rem;        
    }    
    .list-group-item.facebook {       
        font-size: 0.5rem; 
    }
    .facebook {
        margin: 0;      
    }
    .facebook svg {    
        font-size: 0.6rem;        
    }
    .cont.card-body {
        padding-top: 5px;
        font-size: 0.6rem;
    }
    .desc {    
        padding: 2px; 
    }
    .date {
        padding: 1px;
    }
    .title_home {
        font-size: 0.8rem;
        margin-bottom: 0;
    }
    .title.card-title.h5 { 
        font-size: 0.6rem; 
    }
    .parrafo-t1.card-text,
    .parrafo-t2.card-text,
    .parrafo-t3.card-text {    
        font-size: 0.4rem;
        margin-bottom: 0;
    }
    .card-img-top.foto1 {
        width: 50px;
        height: 30px;
    }
    .boton1.btn.btn-primary {
        margin-top: 5px;
        width: 35px;    
        font-size: 0.18rem;
    }
    /**********/
    .ab1 {
        display: flex;
        flex-direction: column;
        font-size: 0.5rem;
        gap: 5px;
    }
    /**********/    
    .tot.card-body {
        display: flex;
        flex-direction: column;
        gap: 2px;
        padding-bottom: 0;
    }
    .title-t.card-title.h5 {
        font-size: 0.7rem;
    }
    .parrafo-t.card-text {
        font-size: 0.6rem;
        margin-bottom: 0;
    }
    img.foto {
        width: 100px;
        height: 50px;
    }
    .boton.btn.btn-primary {
        width: 60px;    
        margin-top: 10px;
        font-size: 0.4rem;
    }
}

@media screen and (min-width: 300px) {
    .home{
        display: flex;
        flex-direction: column;
    }
    .card-img-top.nilo,
    .card-img-top.picture {
        width: min(100%, 250px);
        height: 150px;
    }
    .card-title.h5 {
        font-size: 0.9rem;
    }
    .card-text {
        font-size: 0.8rem;
    }
    .list-group-flush.list-group {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .list-group-item.linkedin {
        font-size: 0.7rem;
    }
    .linkedin {
        margin: 0;
    }
    .linkedin svg {    
        font-size: 0.8rem; 
    }
    .instagram.list-group-item {
        font-size: 0.7rem; 
    }
    .instagram {
        margin: 0;
    }
    .instagram svg {    
        font-size: 0.8rem;        
    }    
    .list-group-item.facebook {       
        font-size: 0.7rem; 
    }
    .facebook {
        margin: 0;      
    }
    .facebook svg {    
        font-size: 0.8rem;        
    }
    .cont.card-body {
        padding-top: 5px;
        font-size: 0.8rem;
    }
    .desc {    
        padding: 2px; 
    }
    .date {
        padding: 1px;
    }
    .title_home {
        font-size: 1rem;
        margin-bottom: 0;
    }
    .title.card-title.h5 { 
        font-size: 0.8rem; 
    }
    .parrafo-t1.card-text,
    .parrafo-t2.card-text,
    .parrafo-t3.card-text {    
        font-size: 0.6rem;
        margin-bottom: 0;
    }
    .card-img-top.foto1 {
        width: 70px;
        height: 40px;
    }
    .boton1.btn.btn-primary {
        margin-top: 5px;
        width: 40px;    
        font-size: 0.2rem;
    }
    /**********/
    .ab1 {
        display: flex;
        flex-direction: column;
        font-size: 0.7rem;
        gap: 5px;
    }
    /**********/    
    .tot.card-body {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding-bottom: 0;
    }
    .title-t.card-title.h5 {
        font-size: 0.9rem;
    }
    .parrafo-t.card-text {
        font-size: 0.7rem;
        margin-bottom: 0;
    }
    img.foto {
        width: 150px;
        height: 80px;
    }
    .boton.btn.btn-primary {
        width: 80px;    
        margin-top: 10px;
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 400px) {
    .home{
        background-color: var(--color-back-project);
        display:grid;    
        grid-template-rows: 1fr, 1fr;
        grid-template-columns: 300px, 700px;
    }
    .card-img-top.nilo,
    .card-img-top.picture {
        width: min(100%, 200px);
        height: 170px;
    }
    .card-title.h5 {
        font-size: 1.2rem;
    }
    .card-text {
        font-size: 1rem;
    }
    .list-group-item.linkedin {
        font-size: 0.8rem;
    }
    .linkedin svg {    
        font-size: 1rem;        
    }   
    .instagram.list-group-item {
        font-size: 0.8rem;
    }
    .instagram svg {    
        font-size: 1rem;
        padding: 2px;
    }
    .list-group-item.facebook { 
        font-size: 0.8rem;    
    }
    .facebook svg {    
        font-size: 1rem;
        padding: 2px;
    }
    .cont.card-body {
        font-size: 1rem;
        padding-top: 10px;
    }
    .title_home {
        font-size: 1.3rem;
        margin-bottom: 0;
    }
    .title.card-title.h5 { 
        font-size: 1rem; 
    }
    .parrafo-t1.card-text,
    .parrafo-t2.card-text,
    .parrafo-t3.card-text {    
        font-size: 0.8rem;
    }
    .card-img-top.foto1 {
        width: 90px;
        height: 50px;
    }
    .boton1.btn.btn-primary {
        width: 60px;    
        font-size: 0.4rem;
    }
    /**********/
    .ab1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);     
        font-size: 0.68rem;
        grid-gap: 20px;    
        padding: 6% 30px;
    }
    /**********/    
    .tot.card-body {
        display: grid;  
        grid-template-rows: 1fr, 1fr;
        grid-template-columns: 2fr, 1fr; 
        gap: 5px;
        padding-bottom: 0;
    }
    .title-t.card-title.h5 {
        font-size: 1.2rem;
        grid-row: 1 / 1;
        grid-column: span 2;
    }
    .parrafo-t.card-text {
        font-size: 0.8rem;
        grid-row: 2 / 2;
        grid-column: 1 / 1;
        margin-bottom: 0;
    }
    img.foto {
        width: 100px;
        height: 50px;
    }
    .boton.btn.btn-primary {
        width: 80px;    
        margin-top: 10px;
        font-size: 0.5rem;
    }
}

@media screen and (min-width: 700px) {
    .home{
        background-color: var(--color-back-project);
        display:grid;    
        grid-template-rows: 1fr, 1fr;
        grid-template-columns: 300px, 700px;
    }
    .card-img-top.nilo,
    .card-img-top.picture {
        width: min(100%, 300px);
        height: 200px;
    }
    .card-title.h5 {
        font-size: 1.4rem;
    }
    .card-text {
        font-size: 1.3rem;
    }    
    .list-group-item.linkedin {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 1.3rem;
        padding: 20px;
    }
    .linkedin svg {    
        font-size: 1.5rem;        
    }
    .instagram.list-group-item {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 1.3rem;
        padding: 20px;
    }
    .instagram svg {    
        font-size: 1.5rem;
        padding: 2px;
    }
    .list-group-item.facebook {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 1.3rem;
        padding: 20px;
    }
    .facebook svg {    
        font-size: 1.5rem;
        padding: 2px;
    }
    .cont.card-body {
        font-size: 1.3rem;
        padding-top: 10px;
    }
    .title_home {
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    .title.card-title.h5 { 
        font-size: 1.3rem; 
    }
    .parrafo-t1.card-text,
    .parrafo-t2.card-text,
    .parrafo-t3.card-text {    
        font-size: 1.1rem;
    }
    .card-img-top.foto1 {
        width: 120px;
        height: 60px;
    }
    .boton1.btn.btn-primary {
        width: 80px;    
        font-size: 0.6rem;
    }
    /**********/
    .ab1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);     
        font-size: 1rem;
        grid-gap: 20px;    
        padding: 6% 30px;
    }
    /**********/    
    .tot.card-body {
        display: grid;  
        grid-template-rows: 1fr, 1fr;
        grid-template-columns: 2fr, 1fr; 
        gap: 5px;
        padding-bottom: 0;
    }
    .title-t.card-title.h5 {
        font-size: 1.5rem;
        grid-row: 1 / 1;
        grid-column: span 2;
    }
    .parrafo-t.card-text {
        font-size: 1.2rem;
        grid-row: 2 / 2;
        grid-column: 1 / 1;
        margin-bottom: 0;
    }
    img.foto {
        width: 120px;
        height: 70px;
    }
    .boton.btn.btn-primary {
        width: 90px;    
        margin-top: 10px;
        font-size: 0.7rem;
    }
}

@media screen and (min-width: 1000px) {
    .home{
        background-color: var(--color-back-project);
        display:grid;    
        grid-template-rows: 1fr, 1fr;
        grid-template-columns: 300px, 700px;
    }
    .card-img-top.nilo,
    .card-img-top.picture {
        width: min(100%, 300px);
        height: 200px;
    }
    .card-title.h5 {
        font-size: 1.6rem;
    }
    .card-text {
        font-size: 1.4rem;
    }    
    .list-group-item.linkedin {
        font-size: 1.4rem;
        padding: 20px;
    }
    .linkedin svg {    
        font-size: 1.6rem;        
    }
    .instagram.list-group-item {
        font-size: 1.4rem;
        padding: 20px;
    }
    .instagram svg {    
        font-size: 1.6rem;
        padding: 2px;
    }
    .list-group-item.facebook {
        font-size: 1.4rem;
        padding: 20px;
    }
    .facebook svg {    
        font-size: 1.6rem; 
        padding: 2px;
    }
    .cont.card-body {
        font-size: 1.4rem;
        padding-top: 10px;
    }
    .title_home {
        font-size: 2rem;
        margin-bottom: 0;
    }
    .title.card-title.h5 { 
        font-size: 1.7rem; 
    }
    .parrafo-t1.card-text,
    .parrafo-t2.card-text,
    .parrafo-t3.card-text {    
        font-size: 1.4rem;
    }
    .card-img-top.foto1 {
        width: 140px;
        height: 70px;
    }
    .boton1.btn.btn-primary {
        width: 100px;    
        font-size: 0.8rem;
    }
    /**********/
    .ab1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);     
        font-size: 1.2rem;
        grid-gap: 20px;    
        padding: 6% 30px;
    }
    /**********/    
    .tot.card-body {
        display: grid;  
        grid-template-rows: 1fr, 1fr;
        grid-template-columns: 2fr, 1fr; 
        gap: 5px;
        padding-bottom: 0;
    }
    .title-t.card-title.h5 {
        font-size: 2rem;
        grid-row: 1 / 1;
        grid-column: span 2;
    }
    .parrafo-t.card-text {
        font-size: 1.5rem;
        grid-row: 2 / 2;
        grid-column: 1 / 1;
        margin-bottom: 0;
    }
    img.foto {
        width: 150px;
        height: 80px;
    }
    .boton.btn.btn-primary {
        width: 110px;    
        margin-top: 10px;
        font-size: 0.9rem;
    }
}

@media screen and (min-width: 1200px) {
    .home{
        background-color: var(--color-back-project);
        display:grid;    
        grid-template-rows: 1fr, 1fr;
        grid-template-columns: 300px, 700px;
    }
    .card-img-top.nilo,
    .card-img-top.picture {
        width: min(100%, 350px);
        height: 300px;
    }
    .card-title.h5 {
        font-size: 2rem;
    }
    .card-text {
        font-size: 1.6rem;
    }
    .title_home {
        font-size: 2.5rem;
        margin-bottom: 0;
    }
    .list-group-item.linkedin {
        font-size: 1.5rem;
        padding: 20px;
    }
    .linkedin {
        margin-left: 0;
    }
    .linkedin svg {    
        font-size: 1.7rem;
        margin-right: 7px;
    }
    .instagram.list-group-item {
        font-size: 1.5rem;
        padding: 20px;
    }
    .instagram {
        margin-left: 50px;
    }
    .instagram svg {    
        font-size: 1.7rem;
        padding: 2px;
        margin-right: 30px;
    }
    .list-group-item.facebook {
        font-size: 1.5rem;
        padding: 20px;
    }
    .facebook {
        margin-left: 100px;
    }
    .facebook svg {    
        font-size: 1.7rem;
        padding: 2px;
        margin-right: 55px;
    }
    .cont.card-body {
        font-size: 1.5rem;
        padding-top: 10px;
    }
    .title.card-title.h5 { 
        font-size: 2rem; 
    }
    .parrafo-t1.card-text,
    .parrafo-t2.card-text,
    .parrafo-t3.card-text {    
        font-size: 1.5rem;
    }
    .card-img-top.foto1 {
        width: 180px;
        height: 80px;
    }
    .boton1.btn.btn-primary {
        width: 120px;    
        font-size: 1rem;
    }
    /**********/
    .ab1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);     
        font-size: 1.3rem;
        grid-gap: 20px;    
        padding: 6% 30px;
    }
    /**********/    
    .tot.card-body {
        display: grid;  
        grid-template-rows: 1fr, 1fr;
        grid-template-columns: 2fr, 1fr; 
        grid-gap: 10px;
        padding-bottom: 0;
    }
    .title-t.card-title.h5 {
        font-size: 2.3rem;
        grid-row: 1 / 1;
        grid-column: span 2;
    }
    .parrafo-t.card-text {
        font-size: 1.8rem;
        grid-row: 2 / 2;
        grid-column: 1 / 1;
        margin-bottom: 0;
    }
    img.foto {
        width: 200px;
        height: 100px;
    }
    .boton.btn.btn-primary {
        width: 130px;    
        margin-top: 15px;
        font-size: 1rem;
    }
}

@media screen and (min-width: 1400px) {
    .home{
        background-color: var(--color-back-project);
        display:grid;    
        grid-template-rows: 1fr, 1fr;
        grid-template-columns: 300px, 700px;
    }
    .card-img-top.nilo,
    .card-img-top.picture {
        width: min(100%, 350px);
        height: 300px;
    }
    .card-title.h5 {
        font-size: 2.2rem;
    }
    .card-text {
        font-size: 1.8rem;
    }
    .list-group-item.linkedin {
        font-size: 1.6rem;
        padding: 20px;
    }
    .linkedin {
        margin-left: 0;
    }
    .linkedin svg {    
        font-size: 2rem;
        margin-right: 7px;        
    }
    .instagram.list-group-item {
        font-size: 1.6rem;
        padding: 20px;
    }
    .instagram {
        margin-left: 50px;
    }
    .instagram svg {    
        font-size: 2rem;
        padding: 2px;
        margin-right: 30px;
    }
    .list-group-item.facebook {
        font-size: 1.6rem;
        padding: 20px;
    }
    .facebook {
        margin-left: 100px;    
    }
    .facebook svg {    
        font-size: 2rem;
        padding: 2px;
        margin-right: 55px;
    }
    .cont.card-body {
        font-size: 2rem;
        padding-top: 10px;
    }
    .desc {    
        padding: 20px; 
        color: var(--color-text-cv);
    }
    .date {
        padding: 10px;
        color: var(--color-text-cv);
    }
    .title_home {
        font-size: 2.7rem;
        margin-bottom: 0;
    }
    .title.card-title.h5 { 
        font-size: 2.2rem; 
    }
    .parrafo-t1.card-text,
    .parrafo-t2.card-text,
    .parrafo-t3.card-text {    
        font-size: 1.8rem;
    }
    .card-img-top.foto1 {
        width: 200px;
        height: 120px;
    }
    .boton1.btn.btn-primary {
        margin-top: 20px;
        width: 150px;    
        font-size: 1.2rem;
    }
    /**********/
    .ab1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);     
        font-size: 1.5rem;
        grid-gap: 20px;    
        padding: 6% 30px;
    }
    /**********/    
    .tot.card-body {
        display: grid;  
        grid-template-rows: 1fr, 1fr;
        grid-template-columns: 2fr, 1fr; 
        grid-gap: 10px;
        padding-bottom: 0;
    }
    .title-t.card-title.h5 {
        font-size: 2.5rem;
        grid-row: 1 / 1;
        grid-column: span 2;
    }
    .parrafo-t.card-text {
        font-size: 2.1rem;
        grid-row: 2 / 2;
        grid-column: 1 / 1;
        margin-bottom: 0;
    }
    img.foto {
        width: 220px;
        height: 150px;
    }
    .boton.btn.btn-primary {
        width: 150px;    
        margin-top: 20px;
        font-size: 1.3rem;
    }
} 
