*{
  font-family: 'Rubik', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
:root {
  /****home y Proyectos****/
  --color-background: black;
  --color-back-project: black;
  --color-title-home: rgba(135, 206, 250, 0.24);
  --color-border-card-project: lightslategrey;
  --color-card-text-project: lightslategrey;
  --color-back-card-project: rgba(100, 148, 237, 0.452);
  --color-title-card-project:royalblue;
  --color-parrafo-card-project: rgb(181, 187, 194);
  --color-text-cv: seashell;
  --color-back-image: rgba(255, 255, 255, 0.75);
  --color-icon-linkedin: hsla(226, 92%, 53%, 0.781);
  --color-icon-instagram: linear-gradient(90deg, 
  rgb(255, 200, 69) -0.3%,
   rgb(239, 69, 115) 50.2%);
  --color-icon-facebook: rgba(7, 82, 243, 0.747);
  /****about****/
  --color-about-title:#87CEFA3D;
  --color-about-title-text: #485785;
  --color-ab:rgba(0, 0, 0, 0.664);
  --color-ab-text: rgba(82, 255, 47, 0.671);
  --color-shadow: 0 0px 10px 0 rgba(82, 255, 47, 0.801);
}